@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie List";
}

@model IEnumerable<Assignment3.Models.MovieResponse>

<!--This page is not used as the Movie Listing page
    I have changed the page to be the Index.cshtml in the MovieResponses folder-->

<div>
    <h2>Here are the added movies</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Edited</th>
                <th>Lent To</th>
                <th>Notes</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Title</td>
                    <td>@x.Category</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@x.Edited</td>
                    <td>@x.LentTo</td>
                    <td>@x.Notes</td>
                    <td>
                        <form asp-action="OnPostRemove" method="post">
                            <input type="hidden" asp-for="@x.MovieId" value="@x.MovieId" />
                            <button type="submit" class="btn">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
